<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<body>
  <main id="main" class="main" layout:fragment="body">

    <div class="pagetitle">
      <h1 th:text="${datosVista.titulo}"></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Menu</a></li>
          <li class="breadcrumb-item active">Inicio</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <input type="hidden" id="usuario" th:value="${datosVista.usuario}">

      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <h4 class="card-title">Pase de lista<br><span th:text="'Cubiculo #' + ${cubiculo.numero} + ' | ' + ${cubiculo.edificio}"></span></h4>
            <div class="ms-auto">
              <a type="button" th:href="@{/reportes}" class="btn btn-primary ms-auto"><i class="bi bi-clipboard-data"></i>Reportes</a>
            </div>
          </div>
          <p class="m-1"></p>

            <div class="ms-auto">
              <button th:if="${paselista.inicio == null && paselista.fin == null}" class="btn btn-primary btn-lg btn-cubiculo">
                <i class="bi bi-clock"></i>
                Comenzar
              </button>

              <button th:if="${paselista.inicio != null && paselista.fin == null}" class="btn btn-danger btn-lg btn-cubiculo">
                <i class="bi bi-clock-history"></i>
                Terminar
              </button>

              <button th:if="${paselista.inicio != null && paselista.fin != null}" class="btn btn-success btn-lg">
                <i class="bi bi-clipboard-check"></i>
                Finalizado
              </button>

              <button th:if="${paselista.pausainicio == null && paselista.pausafin == null && paselista.fin == null}" class="btn btn-outline-secondary btn-lg btn-pausa">
                <i class="bi bi-pause-fill"></i>
                Pausar
              </button>

              <button th:if="${paselista.pausainicio != null && paselista.pausafin == null && paselista.fin == null}" class="btn btn-outline-warning btn-lg btn-pausa">
                <i class="bi bi-play-fill"></i>
                Reanudar
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <h4 class="card-title">Listado de eventos</h4>
            <div class="ms-auto">
              <a type="button" th:href="@{/calendario}" class="btn btn-primary ms-auto"><i class="bi bi-calendar3"></i>Calendario</a>
            </div>
          </div>
          <p class="m-1"></p>

          <div th:if="${eventosToday == false}" class="alert alert-secondary alert-dismissible fade show" role="alert">
            <i class="bi bi-calendar2-x me-1"></i>
            ¡No hay eventos agendados el día de hoy!
          </div>

          <table th:if="${eventosToday != false}" class="table table-bordered table-striped">
            <thead>
              <tr>
                  <th scope="col">Titulo</th>
                  <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="eve: ${eventos}">
                  <td>
                    <p th:text="${eve.titulo}"></p>
                    <p><span th:text="${eve.lugar} + ' | ' + ${eve.inicio + ' - ' + eve.fin}"></span></p>
                  </td>
                  <td>
                      <a type="button" th:id="${eve.id}" href="#" class="btn btn-secondary btn-evento" 
                      th:if="${eve.participacion == false && eve.participacioninicio == null && eve.participacionfin == null}">
                        <i class="bi bi-clipboard-check"></i>
                        Comenzar
                      </a>

                      <a type="button" th:id="${eve.id}" href="#" class="btn btn-warning btn-evento" 
                      th:if="${eve.participacion != false && eve.participacioninicio != null && eve.participacionfin == null}">
                        <i class="bi bi-clipboard-check"></i>
                        Terminar
                      </a>

                      <a type="button" th:id="${eve.id}" href="#" class="btn btn-success" 
                      th:if="${eve.participacion != false && eve.participacioninicio != null && eve.participacionfin != null}">
                        <i class="bi bi-clipboard-check"></i>
                        Finalizado
                      </a>
                  </td>
              </tr>
            </tbody>
          </table>
          

        </div>
      </div>
    </section>

  </main><!-- End #main -->

</body>

</html>