<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<body>
  <main id="main" class="main" layout:fragment="body">

    <div class="pagetitle">
      <h1>Horario de clases</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Menu</a></li>
          <li class="breadcrumb-item active">Horario del día</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="col-xl-12">

        <!-- Horario actual -->
        <div class="card info-card">
          <div class="card-body">

            <h5 class="card-title">Clase siguiente <br><span>De 14:00 a 15:50 | Dos periodos</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" 
              style="color: #ff771d; background: #ffecdf;" data-bs-toggle="tooltip" data-bs-placement="top" 
              title="Clase en curso">
                <i class="bi bi-clock-history"></i>
              </div>
              <div class="ps-3">
                <h6>Introduccion a la programacion</h6>
                <span class="text-danger small pt-1 fw-bold">Aula #201</span> -<span class="text-muted small pt-2 ps-1">1er semestre</span>
              </div>
            </div>

          </div>
        </div>
        
        <!-- Horarios por venir -->
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Horario</h5>

            
          </div>
        </div><!-- End Recent Activity -->

      </div><!-- End Customers Card -->
    </section>

  </main><!-- End #main -->

</body>

</html>